In [1]:
import sqlite3


conn = sqlite3.connect("mydb.sqlite")
cursor = conn.cursor()

In [2]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER
)
""")

In [3]:
cursor.execute("INSERT INTO users (name, age) VALUES (?, ?)", ("Alice", 25))
cursor.execute("INSERT INTO users (name, age) VALUES (?, ?)", ("Bob", 30))
conn.commit()  # Save changes

In [4]:
cursor.execute("SELECT * FROM users")
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Alice', 25)
(2, 'Bob', 30)

In [ ]:
# cursor.execute("UPDATE users SET age = ? WHERE name = ?", (26, "Alice"))
# cursor.execute("DELETE FROM users WHERE name = ?", ("Bob",))
# conn.commit()

In [5]:
# --- View all tables in the database ---
print("ðŸ“Œ Tables in database:")
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
for table in cursor.fetchall():
    print(" -", table[0])

print("\n")

ðŸ“Œ Tables in database:
 - users
 - sqlite_sequence

In [7]:
# --- View columns of a table (e.g., 'users') ---
table_name = "users"
print(f"ðŸ“Œ Columns in table '{table_name}':")
cursor.execute(f"PRAGMA table_info({table_name});")
for col in cursor.fetchall():
    print(col)  # (cid, name, type, notnull, dflt_value, pk)

print("\n")

ðŸ“Œ Columns in table 'users':
(0, 'id', 'INTEGER', 0, None, 1)
(1, 'name', 'TEXT', 1, None, 0)
(2, 'age', 'INTEGER', 0, None, 0)

In [ ]:
import pandas as pd

# --- View all rows in table in row/column view ---
print(f"ðŸ“Œ Data in table '{table_name}':")
cursor.execute(f"SELECT * FROM {table_name};")
rows = cursor.fetchall()

# Get column names
col_names = [description[0] for description in cursor.description]
print(" | ".join(col_names))  # header
print("-" * 40)

# Print each row in table view
for row in rows:
    print(" | ".join(str(x) for x in row))

ðŸ“Œ Data in table 'users':
id | name | age
----------------------------------------
1 | Alice | 25
2 | Bob | 30

In [10]:
import sqlite3
import pandas as pd

# Connect to DB
conn = sqlite3.connect("mydb.sqlite")

table_name = "users"

# Run query and load directly into DataFrame
df = pd.read_sql_query(f"SELECT * FROM {table_name};", conn)

# Show DataFrame
print(df)

# Close connection
conn.close()

   id   name  age
0   1  Alice   25
1   2    Bob   30