In [13]:
import sqlite3


conn = sqlite3.connect("chatbot.sqlite")
cursor = conn.cursor()

In [2]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    username TEXT UNIQUE NOT NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);
""")

In [3]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS threads (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    user_id INTEGER,
    title TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY(user_id) REFERENCES users(id)
);
""")

In [4]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS messages (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    thread_id INTEGER,
    role TEXT CHECK(role IN ('user','assistant')),
    content TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY(thread_id) REFERENCES threads(id)
);
""")

In [9]:
# --- View all tables in the database ---
print("ðŸ“Œ Tables in database:")
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
for table in cursor.fetchall():
    print(" -", table[0])

print("\n")

ðŸ“Œ Tables in database:
 - users
 - sqlite_sequence
 - threads
 - messages

In [10]:
# --- View columns of a table (e.g., 'users') ---
table_name = "users"
print(f"ðŸ“Œ Columns in table '{table_name}':")
cursor.execute(f"PRAGMA table_info({table_name});")
for col in cursor.fetchall():
    print(col)  # (cid, name, type, notnull, dflt_value, pk)

print("\n")

ðŸ“Œ Columns in table 'users':
(0, 'id', 'INTEGER', 0, None, 1)
(1, 'username', 'TEXT', 1, None, 0)
(2, 'created_at', 'TIMESTAMP', 0, 'CURRENT_TIMESTAMP', 0)

In [ ]:
import pandas as pd

table_name = "users"

# Run query and load directly into DataFrame
df = pd.read_sql_query(f"SELECT * FROM {table_name};", conn)

# Show DataFrame
print(df)

# Close connection
# conn.close()

   id username           created_at
0   1   nabeel  2025-08-28 14:39:28

In [14]:
import pandas as pd

table_name = "threads"

# Run query and load directly into DataFrame
df = pd.read_sql_query(f"SELECT * FROM {table_name};", conn)

# Show DataFrame
print(df)

# Close connection
# conn.close()

   id  user_id          title           created_at
0   1        1  My first chat  2025-08-28 14:41:23
1   2        1    Branch of 1  2025-08-28 14:49:36

In [16]:
import pandas as pd

table_name = "messages"

# Run query and load directly into DataFrame
df = pd.read_sql_query(f"SELECT * FROM {table_name};", conn)

# Show DataFrame
print(df)

# Close connection
# conn.close()

    id  thread_id       role  \
0    1          1       user
1    2          1  assistant
2    3          1       user
3    4          1  assistant
4    5          1       user
5    6          1  assistant
6    7          1       user
7    8          1  assistant
8    9          2       user
9   10          2  assistant
10  11          2       user
11  12          2  assistant

                                              content           created_at
0                                  Hello bot (edited)  2025-08-28 14:44:08
1   It seems you're referring to a chatbot or virt...  2025-08-28 14:44:13
2                           how are you? I'm Ruhullah  2025-08-28 14:44:38
3   It seems that the name "Ruhullah" has a signif...  2025-08-28 14:44:42
4                                    what was my name  2025-08-28 14:44:53
5   Your name is Ruhullah. It's a male Arabic/Pers...  2025-08-28 14:44:56
6                                                  hi  2025-08-28 14:50:41
7   It seems you're saying hello! The word "hi" is...  2025-08-28 14:50:44
8                                 what inside planete  2025-08-28 15:02:36
9   The inner planets are the four planets closest...  2025-08-28 15:02:42
10                                    what i smy name  2025-08-28 15:02:52
11  Your name is Ruhullah. It's a male Arabic/Pers...  2025-08-28 15:02:56